//----------------------------------------------
// Header
//----------------------------------------------
.header {
  @extend %letter-spacing;
  @extend %box-shadow;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-999;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  width: 100%;
  padding: {
    right: 1em;
    left: 1em;
  }

  background-color: $color-white;
  border-bottom: $border;

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }
  &__branding {
    @media (max-width: 630px) {
      display: none;
    }
  }

  &__title {
    @extend %font-header;
    display: flex;
    align-items: center;

    font-size: $font-xsmall;
    color: $color-black;
    img {
      max-height: 4em;
    }
    span.header__left {
      margin-left: 1em;
      font-family: 'Aleo', serif;
      letter-spacing: 2px;
      font-size: 1.2em;
      color: $color-mdblue;
      .mdred {
        margin-right: 7px;
      }
      .blog__title {
        font-family: $font;
        font-size: 1.1em;
        color: $color-black;
      }
    }
  }

  &__list {
    @extend %no-list-style;

    display: flex;
    align-items: center;

    & > * {
      @extend .header__title;

      &:not(:last-child) {
        margin-right: 1em;

        @media (min-width: $mq-small) {
          margin-right: 2em;
        }
      }

      a, span.popup__open {
        color: $color-darkblue;
        &:hover {
          color: $color-mdred;
        }
      }
    }
  }
}
